/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 80%;
  margin: auto;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}
.text-align-center {
  text-align: center;
  font-size: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mr-10 {
  margin-right: 10px;
}
